<div>
  {{#each this.cards as |card|}}
    <MemoryCard
            @text={{card.text}}
            @pair={{card.pair}}
            @onChosen={{action "chosenCard"}}
            class="memory-card"
    />
  {{/each}}
</div>