Memory

<div>
  {{#each this.model as |memory-content|}}
  {{#each (repeat 2) as |i|}}
    <MemoryCard
            class="memory-card"
            @text={{memory-content}}
    />
  {{/each}}
  {{/each}}
</div>